{% extends "base.html" %}
{% block meta_description %}Sheriff Labs{% endblock %}
{% block title %}Sheriff Labs{% endblock %}
{% block body %}

    {% include "navbar.html" %}

    <div class="container">
        <h1>Profile</h1>
        {% for u in user %}
            <p>{{ u }}: {{ user[u] }}</p>
        {% endfor %}
    </div>

{% endblock %}