{% extends "base.html" %}
{% block meta_description %}Sheriff Labs{% endblock %}
{% block title %}Sheriff Labs{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        <h1>Sign Up</h1>
        <form action="{{ url_for('auth.signup') }}" method=post class="form-inline">
            {{ form.csrf_token }}
            <div class="form-group">

                {{ form.name.label }} {{ form.name(class_="form-control input-lg", placeholder="John Doe") }}
                {{ form.email.label }} {{ form.email(class_="form-control input-lg", placeholder="john+doe@example.com") }}
                {{ form.password.label }} {{ form.password(class_="form-control input-lg") }}

            </div>
            <br><br>
            <button type="submit" class="btn btn-default btn-lg">Submit</button>
        </form>
    </div>

{% endblock %}