{% extends "base.html" %}
{% block meta_description %}Sheriff Labs{% endblock %}
{% block title %}Sheriff Labs{% endblock %}
{% block body %}

    {% include "navbar.html" %}

    <div class="container">
        <h1>Hello World!</h1>
        {% if email %}
            <p>{{ email }}</p>
        {% endif %}
    </div>

{% endblock %}